
/* Animations */

@keyframes rotate-1 {
    0% { transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(50%) translateY(50%); }
    25% { transform: perspective(1000px) rotateY(45deg) rotateX(30deg) rotateZ(15deg) translateX(0%) translateY(50%); }
    50% { transform: perspective(1000px) rotateY(-30deg) rotateX(15deg) rotateZ(30deg) translateX(50%) translateY(50%); }
    75% { transform: perspective(1000px) rotateY(25deg) rotateX(-20deg) rotateZ(-10deg) translateX(50%) translateY(50%); }
    100% { transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateX(50%) translateY(50%); }
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

.cover {
    background-color: white;
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 50;
    pointer-events: none;
}

.half-cover {
    background-color: #00000070;
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: -10;
    pointer-events: none;
}

.fade-out {
    animation: fade-out 250ms linear;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.fade-in {
    animation: fade-in 250ms linear;
    animation-fill-mode: forwards;
    visibility: visible;
}

/* .main-frame {
    animation: rotate-1 2s infinite ease-in-out;
} */

/* .main-frame-container {
    perspective-origin: 100% 100%;
    perspective: 1000px;
} */
